/* this entire thing is pretty much unstyled please style it if you like CSS!!! */

html {
  height: 100%;
  width: 100%;
}

/*styles footer*/
#madeByDiv {
  display: block;
  position:fixed;
  bottom:0;
  font-size:15px;
  text-align:center;
  background-color:white;
  width:90vw;
  padding-left:5vw;
  padding-right:5vw;
  height:12vh;
}

/*styles submit button*/
#submitButton {
  /*filler css rule; can/should be changed*/
  font-size:20px;
}

/*general style for subjects but currently unused*/
.subjectDiv {
  /*filler css rule; can/should be changed*/
  display:block;
}

/*these next two make the result display nicely inline with itself*/
#PreDisplayText{
  display:inline-block;
  margin-bottom:12vh;
}

#result {
  display:inline;
}

/*these next two make the classes into two columns*/
.firstHalfDiv {
  display: inline-block;
}

.secondHalfDiv {
  vertical-align:top;
  display: inline-block;
}
